@font-face {
    font-family: 'archivo';
    src: url('../fonts/Archivo-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'archivo';
    src: url('../fonts/Archivo-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

:root {
    --background: #141516;
    --text: #ffffff;
    --text-muted: #B0BEC5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    background: #fff;
    color: #000;
}

html {
    font-family: 'archivo', -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
    letter-spacing: .2px;
}

body {
    background: var(--background);
    color: var(--text);
    line-height: 1.6;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 96px 24px;
}

h1 {
    color: var(--text);
    font-family: 'archivo', sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    margin-bottom: 4px;
}

.subtitle {
    color: var(--text-muted);
    font-size: 1rem;
}

h2 {
    color: var(--text);
    font-family: 'archivo', sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    margin-bottom: 40px;
}

section {
    margin-top: 96px;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.section-header span{
    color: var(--text-muted);
}

.experience {
    margin-bottom: 40px;
}

.experience-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 16px;
}


.experience-year {
    color: var(--text-muted);
    font-size: 1rem;
    flex-shrink: 0;
}

.experience-description {
    color: var(--text-muted);
    margin-top: 16px;
}

p {
    color: var(--text-muted);
    
}

a {
    color: var(--text);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.with-arrow::after {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-left: 4px;
    vertical-align: middle;
    background-image: url('../img/arrow-up-right.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.animated-link {
    position: relative;
}

.animated-link:after {
    content: "";
    position: absolute;
    background: white;
    height: 0.5px;
    width: 100%;
    left: 0;
    bottom: -2px;
}

.animated-link:hover {
    text-decoration: none;
}

.animated-link:hover:after {
    animation: refill 0.4s ease;
}


@keyframes refill {
    0% {
        width: 100%;
        left: 0;
    }
    50% {
        width: 0;
        left: 100%;
    }
    50.1% {
        width: 0;
        left: 0;
    }
    100% {
        width: 100%;
        left: 0;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 48px 16px;
    }

    .experience-header {
        flex-direction: column;
        gap: 0;
    }
/* 
    .experience-year {
        order: -1;
    } */


}
