<!DOCTYPE html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Marilina Bertoldi</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="min-css/main.css">
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- Add your site or application content here -->
    <div class="content">
        <div class="nombre-foto">
            <img class="recorte" src="img/recorte.png" alt="Marilina Bertoldi">
                <div class="nombre">
                    <h1>Marilina</h1>
                    <h1>Bertoldi</h1>
                </div>
            <img class="background" src="img/background.jpg" alt="Marilina Bertoldi">
            
        </div>
        <ul class="menu">
            <li>
                <a href="https://www.facebook.com/pg/marilina.bertoldi/events/?ref=page_internal">Próximas fechas</a>
            </li>
            <li>
                <a href="#">Contacto</a>
            </li>
        </ul>
        <ul class="social">
            <li>
                <a href="https://open.spotify.com/artist/1nm9PdmvzPXJmIlMOk5XLy">
                    <img src="img/spotify.svg" alt="Spotify">
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/marilinabertoldi/?hl=en">
                    <img src="img/instagram.svg" alt="Instagram">
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/marilina.bertoldi/">
                    <img src="img/facebook.svg" alt="Facebook">
                </a>
            </li>
            <li>
                <a href="https://twitter.com/marilinabrtoldi?lang=en">
                    <img src="img/twitter.svg" alt="Twitter">
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/channel/UCYeu8a65gq56L7AW8EGmVaA">
                    <img src="img/youtube.svg" alt="Youtube">
                </a>
            </li>
        </ul>
    </div>
    <script src="js/plugins.js"></script>

    <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
    <script>
        window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
        ga('create', 'UA-XXXXX-Y', 'auto'); ga('send', 'pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>

</html>